.container {
    background-color: rgb(245, 244, 196);
    color: rgb(7, 78, 54);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
.meme {
    font-family: fantasy;
}

.contact_form {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}